* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tpl-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: 100vh;
}

.tpl-main {
  flex-grow: 1;
  z-index: 0;
}

a,
a:visited {
  color: currentColor;
}

.tpl-svg-list {
  display: none;
}

svg.tpl-icon {
  height: 1em;
  width: 1em;
  fill: none;
  stroke-width: 0;
  display: inline;
}

.tpl-container {
  width: 100%;
  max-width: var(--container-width);
  margin: auto;
  padding: var(--spacing-m);
}

.tpl-container-small {
  width: 100%;
  max-width: var(--small-container-width);
  margin: auto;
  padding: var(--spacing-m);
}
