pre {
  display: block;
  margin-top: 1em;
  color: var(--black);
}

code {
  background: var(--lightest-grey);
  border-radius: var(--border-radius-default);
  padding: 0 var(--spacing-xxs);
  font-family: 'Courier', sans-serif;
  font-size: 0.9em;
  word-wrap: break-word;
  white-space: pre-wrap;
  vertical-align: middle;
  display: inline-block;
  overflow-x: auto;
  border: 1px solid var(--border-color-default);
}

pre code {
  padding: 1em;
  display: block;
  width: 100%;
}
