
.tpl-bg--primary {
  background-color: var(--primary);
  color: var(--white);
}

.tpl-bg--primary-dark {
  background-color: var(--primary-dark);
  color: var(--white);
}

.tpl-bg--secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.tpl-bg--secondary-dark {
  background-color: var(--secondary-dark);
  color: var(--white);
}

.tpl-bg--secondary-light {
  background-color: var(--secondary-light);
}

.tpl-bg--white {
  background-color: var(--white);
}

.tpl-bg--lightest-grey {
  background-color: var(--lightest-grey);
}

.tpl-bg--lighter-grey {
  background-color: var(--lighter-grey);
}

.tpl-bg--light-grey {
  background-color: var(--light-grey);
}

.tpl-bg--grey {
  background-color: var(--grey);
}

.tpl-bg--dark-grey {
  background-color: var(--dark-grey);
  color: var(--white);
}

.tpl-bg--darker-grey {
  background-color: var(--darker-grey);
  color: var(--white);
}

.tpl-bg--darkest-grey {
  background-color: var(--darkest-grey);
  color: var(--white);
}

.tpl-bg--black {
  background-color: var(--black);
  color: var(--white);
}

.tpl-bg--danger {
  background-color: var(--danger);
}

.tpl-bg--success {
  background-color: var(--success);
}

.tpl-bg--info {
  background-color: var(--info);
}

.tpl-bg--warning {
  background-color: var(--warning);
}

.tpl-bg--gradient {
  background: var(--gradient);
  color: var(--white);
}

.tpl-bg--gradient-light {
  background: var(--gradient-light);
}
