.tpl-flex-row {
  display: flex;
  flex-direction: row;
}

@media (max-width: --smaller-than-phablet) {
  .tpl-flex-row {
    flex-direction: column;
  }
}

.tpl-flex-column {
  display: flex;
  flex-direction: column;
}

.tpl-flex-jc-sb {
  justify-content: space-between;
}

.tpl-flex-jc-sa {
  justify-content: space-around;
}

.tpl-flex-ai-center {
  align-items: center;
}
