.tpl-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--button-padding-y) var(--button-padding-x);
  color: var(--button-text-color);
  font-size: var(--button-font-size);
  font-family: var(--button-font-family);
  border-radius: var(--button-border-radius);
  border: 1px solid var(--button-bg-default);
  background-color: var(--button-bg-default);
  box-shadow: var(--button-shadow);
  text-decoration: none;
}

.tpl-button.tpl-button--primary {
  background-color: var(--button-bg-primary);
  border-color: var(--button-bg-primary);
  color: var(--white);
}

.tpl-button.tpl-button--secondary {
  background-color: var(--button-bg-secondary);
  border-color: var(--button-bg-secondary);
  color: var(--white);
}

.tpl-button.tpl-button--alternate {
  background-color: transparent;
  border-color: var(--button-border-alternate);
  color: var(--button-text-color-alternate);
}

.tpl-button.tpl-button--gradient {
  background: var(--gradient);
}

.tpl-button.tpl-button--primary:hover:not([disabled]) {
  background-color: var(--button-bg-primary-hover);
}

.tpl-button.tpl-button--secondary:hover:not([disabled]) {
  background-color: var(--button-bg-secondary-hover);
}

.tpl-button.tpl-button--alternate:hover:not([disabled]) {
  border-color: var(--button-border-alternate-hover);
}

.tpl-button.tpl-button--gradient:hover:not([disabled]) {
  background: linear-gradient(to right, var(--primary-dark), var(--primary));
}

.tpl-button:disabled {
  filter: var(--button-disabled-filter);
}

.tpl-button:active {
  box-shadow: none;
}

.tpl-button .tpl-icon {
  stroke: var(--button-text-color);
  display: inline;
  fill: none;
}
