.tpl-form__container {
  max-width: var(--form-max-width);
}

.tpl-form__group {
  display: flex;
  flex-direction: column;
}

.tpl-form__group + .tpl-form__group {
  margin-top: var(--spacing-s);
}

.tpl-fieldset {
  border: 0;
  padding: 0;
  flex-shrink: 1;
}

.tpl-legend,
.tpl-label {
  text-transform: uppercase;
  font-size: 0.75em;
  color: var(--text-color-alternate);
  letter-spacing: 0.1em;
}

.tpl-label {
  position: relative;
}

.tpl-fieldset .tpl-label {
  font-size: 1em;
  color: var(--text-color-default);
  text-transform: none;
  letter-spacing: normal;
}

.tpl-label.tpl--required::before {
  content: '✱';
  color: var(--danger);
  font-weight: 700;
  padding-right: var(--spacing-xxs);
  position: absolute;
  left: 0;
  transform: translateX(-100%);
}

.tpl-input__group {
  display: flex;
  align-items: center;
}

.tpl-input__group + .tpl-input__group {
  margin-top: var(--spacing-xs);
}

.tpl-input__group input + .tpl-label {
  margin-left: var(--spacing-xs);
}

input,
select {
  font-size: 0.875em;
  height: 3em;
  border: 1px solid var(--border-color-default);
  border-radius: 0.25em;
  position: relative;
  padding: 0 var(--spacing-s);
}

input:disabled {
  background-color: var(--input-disabled);
}

input[type="checkbox"],
input[type="radio"] {
  height: 1.5em;
  width: 1.5em;
  -moz-appearance: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="checkbox"]::before {
  transform: scale(0);
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNSAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuNSA3LjVMNSAxMUwxMyAyIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K")
}

input[type="checkbox"]:disabled::before {
  content: "";
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  color: var(--input-disabled);
}

input[type="checkbox"]:checked {
  background-color: var(--primary);
  border-color: var(--primary);
  opacity: 1;
  transition: border-color 0.2s ease-in, background-color 0.2s ease-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(0.75);
  transition: transform 0.2s ease-out;
}

input[type="checkbox"].tpl-switch {
  border-radius: 1em;
  width: 2.75em;
  transition: all 0.2 ease-out;
}

input[type="checkbox"].tpl-switch::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0.075em;
  width: 1.2em;
  height: 1.2em;
  opacity: 1;
  background-color: var(--border-color-default);
  transform: translateX(-50%);
  transition: transform 0.2s ease-out;
}

input[type="checkbox"]:disabled.tpl-switch::before {
  background-color: var(--grey);
}

input[type="checkbox"].tpl-switch:checked {
  border-color: var(--primary);
  background-color: var(--primary);
  transition: border-color 0.2s ease-in, background-color 0.2s ease-out;
}

input[type="checkbox"].tpl-switch:checked::before {
  background-color: var(--white);
  transform: translateX(50%);
  transition: transform 0.2s ease-out;
}

input[type="radio"]::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 0.8em;
  height: 0.8em;
  transform: scale(0);
}

input[type="radio"]:checked {
  border-width: 2px;
  border-color: var(--primary);
  opacity: 1;
  transition: border-color 0.2s ease-in;
}

input[type="radio"]:checked::before {
  background-color: var(--primary);
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

select {
  background: var(--white) url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxOCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMUw5IDlMMTcgMSIgc3Ryb2tlPSIjMjYzNTNGIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K') right 1em center no-repeat;
  appearance: none;
  -moz-appearance: none;
}

input.tpl--success {
  border-color: var(--success);
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIyIDExLjA4VjEyYTEwIDEwIDAgMTEtNS45My05LjE0IiBzdHJva2U9IiMxN0JEM0QiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PHBhdGggZD0iTTIyIDRMMTIgMTQuMDFsLTMtMyIgc3Ryb2tlPSIjMTdCRDNEIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPgo=') right 1em center no-repeat;
}

input.tpl--error {
  border-color: var(--danger);
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwLjI5IDMuODZMMS44MiAxOGEyIDIgMCAwMDEuNzEgM2gxNi45NGEyIDIgMCAwMDEuNzEtM0wxMy43MSAzLjg2YTIgMiAwIDAwLTMuNDIgMHYwek0xMiA5djRNMTIgMTZ2LjUiIHN0cm9rZT0iI0RDMzU0NSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4K') right 1em center no-repeat;
}

input:focus,
select:focus {
  border-color: var(--primary);
}
