.tooltip {
  position: relative;
}

.tooltip-right::after {
  left: calc(100% + 1em);
}

.tooltip::before {
  opacity: 0;
  position: absolute;
  content: "";
  border-right: var(--black);
  border: 0.5em solid transparent;
}

.tooltip-right::before {
  top: 0;
  left: calc(100% + 0.5em);
  border-left: 0;
  border-right-color: var(--black);
}

.tooltip::after {
  top: -0.75em;
  position: absolute;
  min-width: 10em;
  max-width: 20em;
  border-radius: 4px;
  background-color: var(--black);
  color: var(--white);
  padding: var(--spacing-xs) var(--spacing-s);
  content: attr(data-content);
  opacity: 0;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transition: opacity 0.2 ease-out;
}
