{{ define "main" }}
  {{- partial "hero.html" . -}}
  <div class="tpl-container">
    {{ range $.Site.Data.illustrations.domain }}
      <h2>{{ .name }}</h2>
      {{ $folder := .folder }}
      <div class="tpl-grid">
        {{ range .items }}
          <div class="img__ressource">
            {{ $path := printf "img/%s/%s" $folder . }}
            <img src="{{ printf "%s@0,25x.png" $path | relURL }}" alt="{{ . }}"/>
            <div class="img__download-buttons">
              <a class="tpl-button tpl-button--alternate" href="img/{{ $folder }}/{{ . }}@0,25x.png">0,25x</a>
              <a class="tpl-button tpl-button--alternate" href="img/{{ $folder }}/{{ . }}@0,25x.png">0,5x</a>
              <a class="tpl-button tpl-button--alternate" href="img/{{ $folder }}/{{ . }}@0,25x.png">0,75x</a>
              <a class="tpl-button tpl-button--alternate" href="img/{{ $folder }}/{{ . }}@0,25x.png">1x</a>
            </div>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
