.card {
  border: 1px solid var(--border-color-default);
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  margin: var(--spacing-xs);
}

.card__cover {
  object-fit: cover;
  flex-grow: 1;
}

.card__header {
  display: flex;
  align-items: center;
  padding: var(--card-padding);
}

.post-card .card__header,
.author-card .card__header {
  flex-direction: column;
  align-items: start;
}

.feature-card .card__header {
  padding: var(--card-padding);
}

.card__image {
  border: 1px solid var(--border-color-default);
  border-radius: 50%;
  width: var(--card-image-size);
  height: var(--card-image-size);
  margin-right: var(--card-padding);
}

.card__title {
  margin: 0;
  font-size: var(--card-title-size);
}

.portfolio-card .card__title,
.author-card .card__title {
  font-size: var(--card-title-size);
}

.feature-card .card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--feature-card-title-color);
  padding-bottom: var(--feature-card-padding);
  border-bottom: 2px solid var(--feature-card-title-color);
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-normal);
  font-size: 1em;
}

.feature-card .card__title .icon {
  margin-right: var(--spacing-xs);
}

.card__subtitle {
  color: var(--text-color-alternate);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  font-size: 1em;
  text-transform: initial;
  margin: 0;
}

.author-card .card__subtitle {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-normal);
}

.card__content {
  padding: var(--card-padding);
  flex-grow: 1;
  padding-top: 0;
}

.feature-card .card__content {
  padding: var(--card-padding);
  padding-top: 0;
}

.author-card p {
  margin: 0;
}

.feature-card p {
  margin: 0;
  color: var(--text-color-alternate);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-title);
  text-align: center;
}

.card__extra {
  padding: var(--card-padding);
  padding-top: 0;
  flex-shrink: 1;
}

.card__footer {
  padding: var(--card-padding);
  padding-top: 0;
  flex-shrink: 1;
}

.card dl {
  margin: 0;
  font-size: 14px;
}

.card .description__group dt,
.card .description__group dd {
  display: inline;
}

.card .description__group dt {
  color: var(--text-color-default);
  font-weight: var(--font-weight-bold);
}
