.tpl-card {
  border: 1px solid var(--border-color-default);
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  margin: var(--spacing-s);
}

.tpl-card__cover {
  object-fit: cover;
  flex-grow: 1;
}

.tpl-card__header {
  display: flex;
  align-items: center;
  padding: var(--card-padding);
}

.tpl-post-card .tpl-card__header,
.tpl-author-card .tpl-card__header {
  flex-direction: column;
  align-items: start;
}

.tpl-feature-card .tpl-card__header {
  padding: var(--card-padding);
}

.tpl-card__image {
  border: 1px solid var(--border-color-default);
  border-radius: 50%;
  width: var(--card-image-size);
  height: var(--card-image-size);
  margin-right: var(--card-padding);
}

.tpl-card__title {
  margin: 0;
  font-size: var(--card-title-size);
}

.tpl-portfolio-card .tpl-card__title,
.tpl-author-card .tpl-card__title {
  font-size: var(--card-title-size);
}

.tpl-feature-card .tpl-card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--feature-card-title-color);
  padding-bottom: var(--feature-card-padding);
  border-bottom: 2px solid var(--feature-card-title-color);
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-normal);
  font-size: 1em;
}

.tpl-feature-card .tpl-card__title .tpl-icon {
  margin-right: var(--spacing-xs);
}

.tpl-card__subtitle {
  color: var(--text-color-alternate);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  font-size: 1em;
  text-transform: initial;
  margin: 0;
}

.tpl-author-card .tpl-card__subtitle {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-normal);
}

.tpl-card__content {
  padding: var(--card-padding);
  flex-grow: 1;
  padding-top: 0;
}

.tpl-feature-card .tpl-card__content {
  padding: var(--card-padding);
  padding-top: 0;
}

.tpl-author-card p {
  margin: 0;
}

.tpl-feature-card p {
  margin: 0;
  color: var(--text-color-alternate);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-title);
  text-align: center;
}

.tpl-card__extra {
  padding: var(--card-padding);
  padding-top: 0;
  flex-shrink: 1;
}

.tpl-card__footer {
  padding: var(--card-padding);
  padding-top: 0;
  flex-shrink: 1;
}

.tpl-card dl {
  margin: 0;
  font-size: 14px;
}

.tpl-card .tpl-description__group dt,
.tpl-card .tpl-description__group dd {
  display: inline;
}

.tpl-card .tpl-description__group dt {
  color: var(--text-color-default);
  font-weight: var(--font-weight-bold);
}
