.tpl-main-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 3.5em;
  border-bottom: 1px solid var(--border-color-default);
  flex-wrap: wrap;
  position: relative;
  padding: var(--spacing-s);
}

.tpl-main-header__link {
  display: flex;
  align-items: center;
  font-family: var(--font-family-title);
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
  flex-shrink: 1;
  flex-wrap: wrap;
  line-height: 1.5em;
  z-index: 10;
}

.tpl-main-header__logo {
  height: var(--spacing-l);
  display: inline-block;
  margin-right: var(--spacing-xs);
}

.tpl-site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

input.tpl-site-nav__toggle,
input.tpl-site-nav__toggle:checked {
  position: absolute;
  left: 0;
  opacity: 0;
  background: 0;
  border: 0;
}

.tpl-site-nav__toggle-label {
  display: none;
  border: 1px solid var(--black);
  margin: var(--spacing-s);
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--border-radius-default);
  color: var(--black);
  font-size: 0.875em;
  font-weight: 700;
  text-transform: none;
  letter-spacing: initial;
  align-items: center;
  flex-shrink: 0;
  line-height: 1.5em;
  height: 2em;
}

.tpl-site-nav__toggle-label .tpl-icon {
  margin-right: var(--spacing-xs);
  flex-shrink: 0;
}

.tpl-site-nav__links {
  display: flex;
  align-items: center;
  padding: 0;
  color: var(--darker-grey);
  margin: var(--spacing-xs) 0;
}

.tpl-site-nav__item {
  display: inline-block;
  margin: 0 var(--spacing-xs);
}

.tpl-site-nav__item a {
  text-decoration: none;
}

.tpl-site-nav__button {
  border-radius: var(--border-radius-default);
  background-color: var(--lighter-grey);
  padding: var(--spacing-s) var(--spacing-xs);
  font-family: var(--font-family-title);
  font-weight: 700;
  text-decoration: none;
}
