.tpl-main-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 3.5em;
  border-bottom: 1px solid var(--border-color-default);
  flex-wrap: wrap;
  position: relative;
}

.tpl-main-header__link {
  display: flex;
  align-items: center;
  font-family: var(--font-family-title);
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
  flex-shrink: 1;
  flex-wrap: wrap;
  line-height: 1.5em;
  z-index: 10;
  margin: var(--spacing-s);
}

.tpl-main-header__logo {
  height: var(--spacing-l);
  display: inline-block;
  margin-right: var(--spacing-xs);
}

.tpl-site-nav {
  display: flex;
}

input.tpl-site-nav__toggle,
input.tpl-site-nav__toggle:checked {
  opacity: 0;
  display: inline;
  background: 0;
  border: 0;
}

.tpl-site-nav__toggle-label {
  display: none;
  border: 1px solid var(--black);
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--border-radius-default);
  color: var(--black);
  font-size: 0.875em;
  font-weight: 700;
  text-transform: none;
  letter-spacing: initial;
  align-items: center;
  flex-shrink: 0;
  line-height: 1.5em;
}

.tpl-site-nav__toggle-label .tpl-icon {
  margin-right: var(--spacing-xs);
  flex-shrink: 0;
}

.tpl-site-nav__links {
  display: flex;
  align-items: center;
  margin: 0 var(--spacing-s);
  padding: 0;
  color: var(--darker-grey);
}

.tpl-site-nav__item {
  display: inline-block;
}

.tpl-site-nav__item a {
  text-decoration: none;
}

.tpl-site-nav__item + .tpl-site-nav__item {
  margin-left: var(--spacing-s);
}

.tpl-site-nav__button {
  border-radius: var(--border-radius-default);
  background-color: var(--lighter-grey);
  padding: var(--spacing-s) var(--spacing-xs);
  font-family: var(--font-family-title);
  font-weight: 700;
  text-decoration: none;
}

@media (--smaller-than-tablet) {
  .tpl-site-nav__toggle-label {
    display: inline-flex;
  }

  .tpl-site-nav__toggle:checked ~ .tpl-site-nav__toggle-label {
    position: absolute;
    top: var(--spacing-s);
    right: var(--spacing-s);
    z-index: 10;
  }

  .tpl-site-nav__links {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    background: var(--white);
    padding: 10em var(--spacing-l) var(--spacing-l);
    box-shadow: var(--box-shadow-bottom);
    width: 15em;
    z-index: 0;
    transform: translateZ(0);
  }

  .tpl-site-nav__toggle:checked ~ .tpl-site-nav__links {
    display: flex;
  }

  .tpl-site-nav__item {
    font-size: 1.25em;
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-default);
  }

  .tpl-site-nav__item + .tpl-site-nav__item {
    margin-left: 0;
    margin-top: var(--spacing-s);
  }

  .tpl-site-nav__item:hover {
    background-color: var(--primary);
    color: var(--white);
    border-bottom: 0.25em solid var(--primary);
  }

  .tpl-site-nav__item:hover a {
    background-color: inherit;
  }
}

@media (--smaller-than-phablet) {
  .tpl-main-header {
    flex-direction: column;
  }

  .tpl-main-header__link {
    flex-direction: column;
  }

  .tpl-main-header__logo {
    margin-right: 0;
  }

  .tpl-site-nav__toggle:checked ~ .tpl-site-nav__links {
    width: 100%;
  }

  .tpl-site-nav__toggle {
    position: absolute;
  }
}
