.tpl-steps {
  display: flex;
}

a.tpl-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--primary);
  text-decoration: none;
}

a.tpl-step:hover {
  background: none;
}

.tpl-step--active,
.tpl-step--current {
  opacity: 1;
}

.tpl-step .tpl-icon {
  height: 2em;
  width: 2em;
}

.tpl-step__title {
  font-family: var(--font-family-default);
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  width: 100%;
  flex-grow: 1;
}

.tpl-step__path {
  height: var(--spacing-xxs);
  width: 100%;
  background-color: var(--primary);
  flex-grow: 0;
  position: relative;
  margin-top: var(--spacing-s);
}

.tpl-step__path::after {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: var(--primary);
  height: 1em;
  width: 1em;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: relative;
}

.tpl-step:last-child {
  color: var(--darker-grey);
  text-decoration-color: var(--currentColor);
}

.tpl-step--current .tpl-step__path::after {
  height: 1.5em;
  width: 1.5em;
}

.tpl-step--current .tpl-step__path {
  background: linear-gradient(to right, var(--primary) 0%, var(--primary) 50%, var(--darker-grey) 50%, var(--darker-grey) 100%);
}

.tpl-step:first-child .tpl-step__path {
  background: linear-gradient(to right, transparent 0%, transparent 50%, var(--darker-grey) 50%, var(--darker-grey) 100%);
}

.tpl-step--active:first-child .tpl-step__path {
  background: linear-gradient(to right, transparent 0%, transparent 50%, var(--primary) 50%, var(--primary) 100%);
}

.tpl-step:last-child .tpl-step__path {
  background: linear-gradient(to left, transparent 0%, transparent 50%, var(--darker-grey) 50%, var(--darker-grey) 100%);
}

.tpl-step:last-child .tpl-step__path::after {
  background-color: var(--darker-grey);
}
