.tpl-documentation .tpl-container {
  display: flex;
  align-items: stretch;
}

.tpl-documentation__sidebar {
  flex-basis: 15em;
  flex-shrink: 0;
}

.tpl-documentation__links {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-bottom);
}

.tpl-documentation__link {
  padding: var(--spacing-xs) var(--spacing-m);
  border: 1px solid transparent;
  text-decoration: none;
}

.tpl-documentation__link--active {
  color: var(--primary);
  font-weight: 700;
  position: relative;
  border-color: var(--primary);
}

.tpl-documentation__link--active::before {
  content: "";
  background-color: var(--primary);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0.5em;
}

.tpl-documentation__content {
  flex-grow: 1;
}

.tpl-documentation__content dt {
  font-family: var(--font-family-title);
  font-weight: 700;
  color: var(--text-color-default);
}

.tpl-documentation__sidebar + .tpl-documentation__content,
.tpl-documentation__content + .tpl-documentation__sidebar {
  margin-left: var(--spacing-l);
}

.tpl-documentation .tpl-button {
  margin: var(--spacing-m);
}
