
:root {
  --secondary-dark: rgb(122, 64, 142);
  --primary: rgb(0, 72, 179);
  --danger: rgb(220, 53, 69);
  --success: rgb(23, 189, 61);
  --gradient-light: linear-gradient(to right, #B8C8E0, #C2DFED);
  --light-grey: rgb(201, 211, 223);
  --dark-grey: rgb(131, 147, 167);
  --white: rgb(255, 255, 255);
  --info: rgb(0, 175, 230);
  --lightest-grey: rgb(247, 250, 253);
  --darkest-grey: rgb(38, 53, 63);
  --gradient: linear-gradient(to right, #264EB6, #24A2CA);
  --primary-dark: rgb(0, 47, 117);
  --secondary: rgb(168, 40, 214);
  --lighter-grey: rgb(225, 233, 244);
  --darker-grey: rgb(83, 101, 125);
  --warning: rgb(255, 193, 7);
  --grey: rgb(173, 185, 201);
  --black: rgb(28, 28, 28);
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 1.5rem;
  --spacing-l: 2rem;
  --spacing-xl: 2.5rem;
  --spacing-xxl: 3rem;
  --blockquote-border-color: #C9D3DF;
  --blockquote-background-color: #E1E9F4;
  --blockquote-border-width: 0.5rem;
  --link-underline-color: currentColor;
  --link-underline-offset: 0.125em;
  --text-color-alternate: #53657D;
  --font-family-title: 'Evolventa', 'Trebuchet MS', sans-serif;
  --text-color-default: #1C1C1C;
  --font-size-default: 16px;
  --line-height-default: 1.5rem;
  --font-family-default: 'Source Sans Pro', Arial, sans-serif;
  --link-hover-background-color: #E1E9F4;
  --subtitle-color: rgb(173, 185, 201);
  --link-underline-thickness: 0.125em;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --feature-card-padding: 0.5rem;
  --button-shadow: 0 4px 4px rgba(0,0,0,0.25);
  --button-disabled-filter: opacity(50%);
  --feature-card-border-size: 2px;
  --form-max-width: 35em;
  --button-border-alternate-hover: #26353F;
  --input-disabled: rgb(201, 211, 223);
  --button-border-alternate: #ADB9C9;
  --feature-card-title-color: rgb(0, 72, 179);
  --card-title-size: 1.5em;
  --button-text-color-alternate: rgb(38, 53, 63);
  --card-title-size-small: 1.25em;
  --button-bg-secondary-hover: #7A408E;
  --button-font-size: 1em;
  --button-bg-secondary: #A828D6;
  --button-font-family: 'Source Sans Pro', Arial, sans-serif;
  --button-bg-primary-hover: #002F75;
  --button-bg-default: #ADB9C9;
  --button-bg-primary: #0048B3;
  --button-border-gradient: #ADB9C9;
  --button-border-radius: 0.25em;
  --button-padding-x: 1rem;
  --button-text-color: rgb(255, 255, 255);
  --button-padding-y: 0.5rem;
  --card-padding: 1rem;
  --card-border-radius: 0.25em;
  --card-image-size: 3em;
  --table-border-color: #E1E9F4;
  --table-hover-color: #F7FAFD;
  --tag-padding: 0.25rem;
  --tag-margin: 0.25rem;
  --tag-font-size: 12px;
  --tag-background-color: #E1E9F4;
  --container-width: 1200px;
  --small-container-width: 600px;
  --border-radius-default: 0.25em;
  --border-color-default: rgb(201, 211, 223);
  --box-shadow-default: 0 0 10px rgba(0,0,0,0.25);
  --box-shadow-bottom: 0 4px 4px rgba(0,0,0,0.25);
}
