<footer class="tpl-footer" role="contentinfo">
  <div class="tpl-container">
    <div class="tpl-flex-row tpl-flex-jc-sb">
      <ul class="tpl-footer__links">
        <li>
          <h2>Un service de la DINUM réalisé par <a href="https://beta.gouv.fr">beta.gouv.fr</a></h2>
        </li>
        <li>
          <a href="/">Informatique et libertés</a>
        </li>
        <li>
          <a href="/">Mentions légales</a>
        </li>
      </ul>
      <ul class="tpl-footer__links">
        <li>
          <h3>Rester en contact</h3>
        </li>
        <li>
          <a href="https://twitter.com/betagouv">
            <svg class="tpl-icon" viewBox="0 0 24 24"><use xlink:href="#twitter"></use></svg>@betagouv
          </a>
        </li>
        <li>
          <a href="/">
            <svg class="tpl-icon" viewBox="0 0 24 24"><use xlink:href="#mail"></use></svg>Lettre d’information
          </a>
        </li>
      </ul>
      <ul class="tpl-footer__links">
        <li>
          <h3>Contribuer</h3>
        </li>
        <li>
          <a href="/">
            <svg class="tpl-icon" viewBox="0 0 24 24"><use xlink:href="#github"></use></svg>Améliorer ce site
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
