<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="{{ .Site.BaseURL }}">
  <title>{{ .Title }}</title>

  <link href="/template.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
  <script type="text/javascript">
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
      document.write('<script src="https://unpkg.com/@babel/polyfill@7.0.0/dist/polyfill.js"><\/script>');
      document.write('<script src="https://unpkg.com/url-polyfill@1.0.14/url-polyfill.js"><\/script>');
    }
  </script>
  <!-- Search Engine -->
  <meta name="description" content="{{ .Site.BaseURL }}">
  <meta name="image" content="">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="template.beta.gouv.fr">
  <meta itemprop="description" content="Des ressources pour débuter un produit sans réinventer la roue">
  <meta itemprop="image" content="">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="template.beta.gouv.fr">
  <meta name="twitter:description" content="Des ressources pour débuter un produit sans réinventer la roue">
  <meta name="twitter:site" content="@betagouv">
  <meta name="twitter:creator" content="betagouv">
  <meta name="twitter:image:src" content="">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="template.beta.gouv.fr">
  <meta name="og:description" content="Des ressources pour débuter un produit sans réinventer la roue">
  <meta name="og:image" content="">
  <meta name="og:url" content="">
  <meta name="og:site_name" content="template.beta.gouv.fr">
  <meta name="og:locale" content="fr_FR">
  <meta name="og:type" content="website">

  <!-- Favicons -->
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
  <link rel="manifest" href="images/favicons/manifest.json">
  <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5">
</head>
